dotenv
langchain
langchain-aws
langchain-community
langchain-google-genai

langchain-huggingface
langchain-ollama
langchain-openai
langfuse
langgraph
loguru
pydantic
qdrant-client
rich
sentence-transformers
sqlalchemy
tenacity
textual